body{
    background-color: #f5f6f8;
    font-family: 'Source Sans Pro', sans-serif;
}
.sidebar
{
    max-width: 240px;
    height: 100vh;
    min-width: 240px;
    background: #2f353a;

}
.content{
    width: 100%;
}
.navbar-brand
{
    margin-right: 0;
    padding-top: 0 !important;
 
}
.navbar img
{
    width: 40px;
}
.navbar
{
    background-color:#fff;
    box-shadow: 0 .125rem .625rem
    rgba(90,97,105,.12);
}
.sidebar ul a .svg-inline--fa
{
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color:#73818f;
    text-align: center;
}

.sidebar .nav-link {
    display: block;
    padding: .75rem 1rem;
    color: #fff;
    text-decoration: none;
    background: 0 0;
}

nav li:hover,
nav li.router-link-active
{
  background-color: #99BFFE;
  color: #fff;
  cursor: pointer;
}

.sidebar ul a.exact-active .svg-inline--fa, nav li:hover .svg-inline--fa
{      
    color: #fff;
}

.sidebar ul a.exact-active {
    color: rgba(255, 255, 255, 1);
	background: rgba(0, 0, 0, .15);
}
.table-vm
{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:
    #fff;
    background-clip: border-box;
    border: 1px solid
    rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.page-vm{
    padding-right: 10px;
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
}

.page-link
{
    color: #212529 !important;     
}
.table{
    margin-bottom: 0px !important;
}
.page-button
{
    border-radius: .25rem;
}
.page-vm p
{
    margin-top:  1rem !important;
    margin-right: 10px;
    margin-left: 10px;
}
.del 
{
    text-decoration: none;
    color: red;
}
.edit{
    color: #ff922b;
}
.on-off .play
{
    color: #2eb85c;
}
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover,
  .hvr-float:focus,
  .hvr-float:active {
    transform: translateY(-8px);
  }
  .vm_label p{
    display: inline-block;
    padding: .25em 1.4em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
    border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .action span
  {
    margin: 5px;
  }
  .on-off .power-off
  {
      color: black ;
  }
  .loadcube .sk-fading-circle
  {
    margin: 0px auto !important;
    width: 16px !important;
    height: 16px !important;

  }